/* 기본설정 */
@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 400;
    src: url('/portfolio-main/fonts/NotoSansKR-Regular.ttf') format('truetype');
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #333;
    font-family: 'NotoSansKR', sans-serif;
    font-size: 18px;
    letter-spacing: 0.5px;
}
ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    color: #333;
    text-decoration: none;
}

h1 {
    font-size: 38px;
    font-weight: 800;
    margin-bottom: 30px;
}
h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
h3 {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 600;
    line-height: 1.5;
}
h4 {
    font-size: 14px;
}